__pycache__/
*import/
.envs/
*.mpy
addons/pythonscript
brickrail-gui/addons/pythonscript
.ipynb_checkpoints/auto-train-calibrate-checkpoint.ipynb
brickrail-gui/ble-server/.env/
ble-server/.env
.envs/
.env/
build/
dist/
brickrail-gui/dist/
.VSCodeCounter/
.godot/